
.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
}

.btn-custom-orange {
  background-color: orange;
  color: #fff;
}

.btn-custom-blue {
  background-color: blue;
  color: #fff;
}
